
# Ignore Flask instance folder (Contains SQLite database file)
/instance/

# Ignore static files (Contains images)
/static/images/*

# Ignore uploads
/uploads/

# Python cache
__pycache__/
*.pyc

# Ignore venv
/venv/

# Ignore node_modules
/node_modules/

# Ignore backups
*.json
!package.json
!package-lock.json
